<!DOCTYPE html>
<html>
<head>
  <title>Blocitoff</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>

</head>
<body>
  <nav class="navbar navbar-collapse">
    <div class="container">
      <div class="page-header">
        <h1></strong>Bloc It Off</strong></br><small><em>The self-destructing ToDo list</em></small></h1>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-right"><h4>
            <% if current_user %>
            Hello <%= link_to (current_user.name), edit_user_registration_path %>!!<u><br> <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <% else %>
            <%= link_to "Sign In", new_user_session_path %> or
            <%= link_to "Sign Up", new_user_registration_path %>
            <% end %></u></h4>
          </ul>
        </div>
       </div>
      </div>
  </nav>
  <div class="flash">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:notice] %>
      </div>
      <% elsif flash[:error] %>
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= flash[:error] %>
      </div>
      <% end %>
  </div>

    <%= yield %>


</body>
<nav class="navbar-default-bottom">
  <div class="container">
  </br>
    <address>
      <strong>Rent it EZ</strong><br>
      1655 W. Fairview Ave. Suite, 101b<br>
      Boise, ID 87902<br>
    </address>
  </div>
</div>
</html>
